{{> welcomeNav active = "about"}}

<header class="box is-3 has-text-centered">
  <h3 class="title">
    Geoplacemark
  </h3>
  <h4 class = "subtitle">
    Explore with Friends
  </h4>
</header>
<div class="box">
  <p>
    Geoplacemark is a student project for SETU Waterford HDip in computer science designed to simulate a social maps app.
    This App is not designed for commercial use.
  </p>
  <h4 class = "subtitle mb-1 mt-4">
    Using the App
  </h4>
  <p>
    Geoplacemark allows users to create an account, log in and start adding their discovered geosites. Users can rate 
    one anothers sites and track this engagement in real time. An administrator is able to log in and moderate users, 
    ratings and sites. They are also able to track metrics on the site, such as numbers of users, breakdowns of ratings and
    others. Users can also request an api token and interact with Geoplacemark via the geoplacemark api. Documentation on
    this api can be found on swagger 
  </p>
  <h4 class = "subtitle mb-1 mt-4">
  Upcoming features
  </h4>
    <ul>
      <li>Upload photos to photo gallery on geosite</li>
      <li>add filtering options to admin dashboards</li>
    </ul>
  <h4 class = "subtitle mb-1 mt-4">
    Acknowledgements
  </h4>
  <p>
    <ul>
      <li>All icons were created in ms powerpoint using icons
      <li>Website was styled using <a href="https://bulma.io/">Bulma CSS Framework</a></li>
      <li>Api documentation provided using <a href = "https://www.npmjs.com/package/hapi-swagger">Hapi Swagger</a>
    </ul>
  </p>
</div>