{{> nav active="myEngagement"}}

<section class="section">
    <h1 class="title is-underlined has-text-centered">{{title}}</h1>
    <h2 class="subtitle mt-4">Your comments and ratings</h2>
</section>

{{> listEngagement }}