{{> nav }}
<h1 class="title is-underlined has-text-centered mt-4">{{title}}</h1>
<h2 class="subtitle">Posted by {{poi.author}}</h2>
<div class="columns">
    <div class="column is-2">
       <div class="message is-info">
          <div class="message-header">
            <img src="{{averageRatingImage}}" alt="rating">
          </div>
       </div>
   </div>
</div>
<div class="box">
   {{> poiDetails }}
</div>
<h2 class="subtitle mt-4">Comments</h2>
{{> filterRating }}
{{> listRatings }}

