<section class="hero is-fullheight is-info">
    <div class="hero-head">
        {{> welcomeNav active="home" }}
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title"> Welcome to geoplacemark!</p>
            <p class="subtitle">Please select an option to begin</p>
        </div>

    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth has-background-link">
            <div class="container">
            <ul>
                <li><a href="/signup">sign up</a></li>
                <li><a href="/login">log in</a></li>
                <li><a>about</a></li>
            </ul>
            </div>
        </nav>

    </div>
</section>