
<div class="title p-3 is-flex">
    <img src="https://cdn.glitch.global/81e6da25-1c24-409a-9b2f-176c465bef13/geoplacemarkLogo.jpg?v=1739984158210" alt="logo">
    <div class="ml-4 mt-5">Geoplacemark</div>
</div>