
{{#each ratings}}
<article class="message is-info pb-2">
    <div class="message-header">
        <p>{{user}}</p>
        <img src="{{ratingIconAddress}}" alt="rating">
    </div>
    <div class="message-body">
        <p>{{comment}}</p>
    </div>
</article>
{{/each}}


