<nav class = "navbar">
    <div class="navbar-brand">
        {{> geoplacemarkBrand }}
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button">Dashboard</a>
                <a class="button">My Sites</a>
                <a class="button">My Account</a>
                <a class="button">About</a>
                <a class="button">Logout</a>
            </div>
        </div>
    </div>
</nav>