<nav class = "navbar has-background-info">
    <div class="navbar-brand">
        {{> geoplacemarkBrand }}
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button" href="/publicsites">Dashboard</a>
                <a class="button" href="/dashboard">My Sites</a>
                <a class="button" href="/account">My Account</a>
                <a class="button" href="/about">About</a>
                <a class="button" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>