<nav class = "navbar has-background-info">
    <div class="navbar-brand">
        {{> geoplacemarkBrand }}
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a id="allSites" class="button" href="/publicDashboard">All Sites</a>
                <a id="mySites" class="button" href="/dashboard">My Sites</a>
                <a id="myEngagement" class="button" href="/engagement">My Engagement</a>
                <a id="settings" class="button" href="/settings">My Account</a>
                <a class="button" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<script>
  document.getElementById("{{active}}").classList.add("is-link");
</script>