<nav class = "navbar has-background-info">
    <div class="navbar-brand">
        {{> geoplacemarkBrand }}
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button" href="/">home</a>
                <a class="button" href="/signup">sign up</a>
                <a class="button" href="/login">log in</a>
                <a class="button">about</a>
            </div>
        </div>
    </div>
</nav>