<!DOCTYPE html>
<html lang="en-IE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/styleSheet.css" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
  </head>
  <body>
    <div class="container is-fullhd">
      {{{content}}}
      {{> error }}
    </div>
  </body>
  <footer class="footer has-shadow is-info mt-4 has-text-centered">
    <h4 class="subtitle">
      Explore with friends
    </h4>
    <p>
      Created By Joshua Smiles for SETU Hdip in Computer Science 2025
    </p>
  </footer>
</html>